<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<title>Spring MVC CRUD</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <table class="table">

        <thead>
        <tr>
            <th> User ID </th>
            <th> User Login </th>
            <th> User First Name </th>
            <th> User Last Name </th>
            <th> User Email </th>
            <th> User Roles </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="portalUser:${portalUsersPage}" th:object="${portalUser}">
            <td><span th:text="*{id}">id</span></td>
            <td><span th:text="*{login}">login</span></td>
            <td><span th:text="*{firstName}">firstName</span></td>
            <td><span th:text="*{lastName}">lastName</span></td>
            <td><span th:text="*{email}">email</span></td>
            <td>
                <span th:each="role, iterStat: ${portalUser.roles}" th:text="!${iterStat.last} ? ${role.name} +',' : ${role.name}">roles</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${portalUsersPage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/users(page=${pageNumber})}"
           th:text="${pageNumber}"></a>
    </div>
</div>
</body>
</html>